* {
  margin: 0;
  padding: 0;
  color: #451f18;
  text-decoration: none;
  list-style: none;
  font-family: "Gilroy-Regular", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    60% 50% at 50% 50%,
    #c89077 0%,
    rgba(253, 252, 251, 0) 100%
  );
}

p {
  font-size: 13px;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.main {
  width: 90%;
  background: #f9f6f4;
  margin: 140px 215px;
  padding: 40px 80px;
}

.logo dt {
  font-family: Arkhip;
  font-size: 20px;
  margin: 2.5px 0;
}

.logo dd {
  font-family: Arkhip;
  font-size: 8px;
  text-transform: uppercase;
}

.header__title {
  font-family: "Arkhip", sans-serif;
  font-size: 37px;
  text-align: center;
  margin: 41.5px;
  letter-spacing: 1px;
}

.header__about-form {
  display: flex;
  flex-direction: column;
  font-size: 17.5px;
  font-weight: 600;
  gap: 18px;
  margin: 46px 0;
  letter-spacing: 0.2px;
}

.label-input-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.about-form__input {
  border: none;
  border-bottom: solid 2px #451f18;
  font-size: 21px;
  background-color: transparent;
  flex: 1;
  padding-left: 14px;
}

.skills {
  margin: 57px 0;
}

.title {
  font-size: 19.4px;
  font-weight: 600;
  margin-bottom: 13.5px;
}

.skills p {
  width: 94%;
}

.skills__form {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 22px 0 0 5px;
  justify-content: space-between;
}

.skills__form-left {
  gap: 16px;
  float: left;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.skills__form-right {
  float: right;
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.skills__form input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 10px;
}

.js__task1-content {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 33.5px;
}

.task1-icons__list {
  display: flex;
  justify-content: space-between;
  padding: 0 26.5px;
}

.task1-icons__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8.5px 4.5px;
  justify-items: center;
}

.icon-face {
  width: 35px;
  margin: 10px;
}

.arrow {
  width: 18px;
}

.content__list {
  display: flex;
  justify-content: space-between;
  margin: 19px 0;
}

.content__item {
  width: 8vw;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 2px;
  line-height: 1.3;
}

#sliderLevel {
  width: 100%;
}

#sliderLevel::-webkit-slider-runnable-track {
  background: #451f18;
  height: 2px;
  padding: 0 52px;
  cursor: pointer;
}

#sliderLevel::-webkit-slider-thumb {
  visibility: hidden;
}

.js-task2 {
  margin-bottom: 33px;
}

.js__task2-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.js__task2-slider {
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  width: 46%;
  height: 100px;
}

#sliderNum {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 16px;
}

.task2__slider-content {
  width: 77%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-right: 27px;
}

.task2__slider-content ul {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 13px;
}

#sliderNum::-webkit-slider-runnable-track {
  background: #451f18;
  height: 2px;
  padding: 0 13px;
  cursor: pointer;
}

.task2__slider-value {
  border: solid 1px #451f18;
  width: 16%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
}

#sliderNum::-webkit-slider-thumb {
  visibility: hidden;
}

.js__task2-radios {
  width: 43%;
  display: flex;
  margin: 20px 15px;
  gap: 93px;
  flex-wrap: wrap;
}

.repair-content fieldset,
.rate-content fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.repair-content label,
.rate-content label {
  margin-top: 10px;
  letter-spacing: 0.2px;
  display: flex;
  align-items: center;
}

.repair__radio,
.rate__radio {
  margin: 7.5px 8px 3px 5px;
  cursor: pointer;
  transform: scale(1.5);
}

.task2-total {
  margin-top: 63px;
  font-size: 17px;
  letter-spacing: 0.5px;
}

.task2-total__span {
  border-bottom: solid 1px;
  font-size: 22px;
  padding: 2px 15px;
  margin-left: 8px;
}

.autobiography p {
  width: 75%;
  margin-bottom: 20px;
}

.autobiography__form {
  height: 17vh;
}

.autobiography__textarea {
  width: 100%;
  min-height: 100%;
  border: none;
  background-color: transparent;
  font-size: 22px;
  overflow: hidden;
  text-decoration: underline;
  resize: none;
  line-height: 1.9;
  letter-spacing: 1px;
}

.plans {
  margin-top: 45px;
}

.plans-content {
  margin-top: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 86%;
}

.plans-content label {
  padding-left: 3px;
  margin-bottom: 58px;
}

.plans__radio {
  cursor: pointer;
  transform: scale(1.5);
  margin-right: 10px;
}

.hours {
  font-size: 17px;
  letter-spacing: 0.5px;
  margin-bottom: 58px;
}

.hours__span {
  padding: 4px 15px;
  border-bottom: 1px solid;
  font-size: 20px;
  margin-left: 3px;
  letter-spacing: 2px;
  text-align: center;
}

.given-date {
  font-size: 17.5px;
}

.given-date__span {
  margin-left: 12px;
  font-size: 24px;
  border-bottom: 1px solid;
  padding: 3px 22px;
}

@media (min-width: 1150px) and (max-width: 1412px) {
  .task2__slider-content {
    width: 100%;
  }

  .task2__slider-value {
    margin-top: 10px;
    margin-right: 10px;
  }

  .task2-total {
    margin-top: 10px;
    padding: 0;
  }

  .autobiography p {
    width: 100%;
  }

  .autobiography__textarea {
    font-size: 20px;
  }

  .js__task2-radios {
    gap: 20px;
  }

  .task2-total,
  .task2-total__span {
    font-size: 18px;
  }
}

@media (min-width: 700px) and (max-width: 1150px) {
  p {
    line-height: 1.5;
    width: 100%;
  }

  .main {
    width: 100%;
    background: #f9f6f4;
    margin: 123px 103px;
    padding: 40px 80px;
  }

  .skills__form-left {
    width: 100%;
  }

  .js__task2-inputs {
    display: block;
  }

  .js__task2-slider {
    width: 100%;
  }

  .task2__slider-content {
    width: 100%;
  }

  .task2__slider-value {
    margin-top: 10px;
    margin-right: 10px;
  }

  .task2-total,
  .task2-total__span {
    margin: 15px 0;
    padding: 0;
    font-size: 5px;
  }

  .js__task2-radios {
    margin-top: 85px;
    width: 100%;
    justify-content: space-around;
    gap: 20px;
  }

  .task2-total,
  .task2-total__span {
    font-size: 18px;
  }

  .autobiography p {
    width: 100%;
  }

  .autobiography__textarea {
    font-size: 18px;
  }

  .plans-content {
    width: 100%;
  }

  .plans-content label {
    margin-bottom: 15px;
  }

  .hours,
  .hours__span {
    margin-top: 10px;
    font-size: 15px;
  }
}

@media (min-width: 320px) and (max-width: 700px) {
  p {
    width: 100%;
    font-size: 16px;
  }

  .main {
    width: 95%;
    background: #f9f6f4;
    margin: 20px;
    padding: 27px 14px;
  }

  .header__about-form,
  .about-form__input::placeholder {
    font-size: 16px;
  }

  .skills__form-left {
    width: 100%;
  }

  .content__item {
    font-size: 10px;
    width: 20vw;
  }

  .task1-icons__list,
  #sliderLevel::-webkit-slider-runnable-track {
    padding: 0;
  }

  .task2-total,
  .task2-total__span {
    margin: 15px 0;
    padding: 0;
    font-size: 5px;
  }

  .js__task2-radios {
    margin-top: 80px;
    width: 100%;
    justify-content: space-around;
    gap: 20px;
  }

  .task2-total,
  .task2-total__span {
    font-size: 18px;
    margin-left: 10px;
  }

  .js__task2-slider {
    width: 100%;
  }

  .task2__slider-content {
    width: 100%;
    margin-bottom: 15px;
  }

  .autobiography p {
    width: 100%;
  }

  .autobiography__textarea::placeholder {
    font-size: 17px;
  }

  .plans {
    margin-top: 180px;
  }

  .plans-content {
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .plans-content label {
    padding-left: 3px;
    margin-bottom: 26px;
  }

  .hours {
    margin-bottom: 25px;
  }
}
